.landing {
  display: flex;
  background-image: url("../../Components/images/back1.jpg");
  background-size: cover;

  height: 100vh;
  align-items: center;
  justify-content: center;
}

.landing button {
  font-family: Poppins;
  font-weight: 700;
  display: inline-block;
  width: 400px;
  height: 150px;
  border-radius: 0.5rem;
  transition-duration: 0.1s;
  font-family: Poppins;
  font-size: 2rem;
  background-color: rgba(163, 11, 163, 0.8);
  color: white;
  opacity: 95%;
  border-color: transparent;
  transition: all 0.5s;
  cursor: pointer;
}

.landing button:hover {
  font-family: Poppins;
  background-color: white;
  color: gray;
  font-weight: 700;
}
